@import "base/variables"
*
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0

.container
    max-width: 1340px
    margin: 0 auto

a
    text-decoration: none

@import "blocks/header"
@import "blocks/news"
@import "blocks/events"
@import "blocks/footer"
@import "blocks/search"
@import "blocks/buttons"
@import "blocks/soldiers"
@import "blocks/title"
@import "blocks/about"
@import "blocks/add"
@import "blocks/card"
