.card
    margin-top: 50px
    &__wrapper
        display: grid
        grid-template: minmax(300px,auto) / 325px 400px
        justify-content: center
        column-gap: 50px
    &__img
        display: flex
        flex-direction: column
        >img
            width: 325px
            height: 300px
            object-fit: cover
            transition: .5s all
            opacity: 0
        &-active
            >img
                opacity: 1
    &__options
        display: flex
        width: 325px
        margin: 0 auto
        margin-top: 10px
        justify-content: space-between
        &-item
            position: relative
            width: 70px
            height: 50px
            cursor: pointer
            &-hidden
                &:before
                    transition: .5s all
                    position: absolute
                    top: -7px
                    left: -8px
                    content: ""
                    width: 80px
                    height: 60px
                    border: 2px solid #E2DFDF
                    transition: .5s all
                    opacity: 0
            &-active
                &:before
                    opacity: 1
            img
                width: 100%
                height: 100%
                object-fit: cover
    &__list
        display: grid
        grid-template: auto / repeat(2,200px)
        grid-auto-rows: auto
        justify-content: space-between
        row-gap: 20px

    &__content
        margin-top: 50px
        &-title
            text-align: center
            font-size: 18px
            font-weight: bold
        &-text
            margin-top: 10px
