.footer
    margin-top: 100px
    background-color: #474545
    &__wrapper
        display: grid
        grid-template: repeat(3,auto) / repeat(4, auto)
        row-gap: 35px
        justify-content: space-around
    &__header
        margin-top: 25px
        a
            color: #fff
            text-decoration: none
    &__list
        &-item
            margin-top: 8px 
            list-style-type: none
            a
                color: #fff