.footer
    margin-top: 100px

    background-color: #474545
    &__wrapper
        padding-top: 20px
        padding-bottom: 20px
        display: flex
        justify-content: space-between
    &__social
        svg
            path
                fill: white
    &__text
        color: white
